
{% extends "layout.html" %}
{% block javascript %}
<script src="../static/src/boardUtils.js"></script>
<script src="../static/src/board.js"></script>
<script src="../static/src/rocketLogic.js"></script>
<script type="application/javascript" language="javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
                drawBoard();
                igniter();
        });
</script>
{% endblock %}

{% block title %}
Rockets!
{% endblock %}


{% block main %}
<div class="space">
        <div class="infoHeader">
                <h2 class="name">{{ nickname }}</h2>
                <div class="scoreBox">SCORE: <b>0</b></div>
        </div>
</div>

<canvas id="canvas" width="500px" height="500px"></canvas>

{% endblock %}