
{% extends "layout.html" %}
{% block javascript %}
<script src="../static/src/boardUtils.js"></script>
<script src="../static/src/board.js"></script>
<script type="application/javascript" language="javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
                console.log('DOMContentLoaded');
                drawBoard();
        });
</script>
{% endblock %}

{% block title %}
Rockets!
{% endblock %}


{% block main %}

<div>
        <h1>{{ nickname }}</h1>
</div>

<canvas id="canvas" width="520px" height="520px" style="border:1px solid #000000;"></canvas>

{% endblock %}